
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PCOS TEST</title>
      {% load static %}
    <link rel="stylesheet" href="../../static/site/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
              <div class="hero">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li> <br>
                <li><a href="{% url 'aboutus' %}">About</a></li> <br>
                <li><a href="{% url 'aboutpcos' %}">About PCOS</a></li> <br>
                <li><a href="{% url 'disclamier' %}">Disclaimer</a></li>
            </ul>
        </nav>
      </div>

    <div class="container">
      <div class="text">Check your chances of having PCOS</div>


      <form action="{% url 'result' %}">

        <div class="form-row">
          <div class="input-data">
            <input type="number" step="any" required name="shanon_genefamilies_cpm">
            <div class="underline"></div>
            <label for="">Shannon Genefamilies (CPM)</label>
          </div>
            </div>
        <div class="form-row">
          <div class="input-data">
            <input type="number" step="any"  required name="bmi">
            <div class="underline"></div>
            <label for="">BMI</label>
          </div>
            </div>
          <div class="form-row submit-btn">
          <div class="input-data">
            <div class="inner"></div>
            <input type="submit" value="submit">
          </div>
        </div>

      </form>
    </div>

  </body>
</html>